@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-lightcyan: hsl(179, 62%, 48%);

  --color-brightyellow: hsl(71, 73%, 54%);
  --color-lightgray: hsl(204, 43%, 93%);
  --color-grayishblue: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --page-font: "Karla", sans-serif;
  --page-font-size: 16px;
}

body {
  height: 100vh;
  background-color: var(--color-lightgray);
}

.box {
  margin: 1em; 
}

div.topbox {
  padding: 1.8em;
  background-color: var(--color-white);
  font-family: var(--page-font);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.leftbox {
  background-color: var(--color-cyan);
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "price duration"
  "incentive incentive"
  "button button";
}

div.rightbox {
  background-color: var(--color-lightcyan);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.common {
  padding: 1.8em;
  font-family: var(--page-font);
}

div.common {
  color: var(--color-lightgray);
}
.leftbox h2{
  grid-area: header;
}

.topbox h1 {
  color: var(--color-cyan);
  font-size: 2em;
}

.rightbox ul {
  list-style-type: none;
  font-size: .95em;
  padding-left: 0;
}


.sellingpoint {
  color: var(--color-brightyellow);
}

button {
  background-color: var(--color-brightyellow);
  color: white;
  padding: 1em;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
  grid-area:button;
}

.price {
  color: var(--color-white);
  font-size: 2em;
  font-weight: 700;
  grid-area: price;
  justify-self:center;
}
.duration{
  grid-area: duration;
  align-self:center;
  justify-self:start;
}

.incentive{
  grid-area:incentive;
  align-self:center;
}
h2 {
  color: white;
  font-size: 1.2em;
}

@media screen and (min-width: 420px) {
  body {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100vh;
    background-color: var(--color-lightgray);
  }

  .box {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "top top"
      "left right";
    max-width: 600px;
    border-radius: 5%;
  }

  div.topbox {
    grid-area: top;
    padding: 1.8em;
    background-color: var(--color-white);
    font-family: var(--page-font);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div.leftbox {
    grid-area: left;
    border-bottom-left-radius: 5%;
  }

  div.rightbox {
    grid-area: right;
    border-bottom-left-radius: 0%;
  }

}
