@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  --color-cyan: hsl(179, 62%, 43%);
  --color-lightcyan: hsl(179, 62%, 48%);

  --color-brightyellow: hsl(71, 73%, 54%);
  --color-lightgray: hsl(204, 43%, 93%);
  --color-grayishblue: hsl(218, 22%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --page-font: "Karla", sans-serif;
  --page-font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  place-items:center;
  height: 100vh;
  background-color: var(--color-lightgray);
}

.box {
    margin-top:2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "top top"
    "left right";
  max-width: 600px;
  border-radius: 5%;
}

div.topbox {
  grid-area: top;
  padding: 1.8em;
  background-color: var(--color-white);
  font-family: var(--page-font);

}

.common {
  padding: 1.8em;
  font-family: var(--page-font);
}

div.common {
  color: var(--color-lightgray);
}
.topbox h1 {
  color: var(--color-cyan);
}

div.leftbox {
  grid-area: left;
  background-color: var(--color-cyan);
  border-bottom-left-radius: 5%;
}

div.rightbox {
  grid-area: right;
  background-color: var(--color-lightcyan);
  border-bottom-right-radius: 5%;
}

.rightbox ul{
  list-style-type: none;
  font-size:.95em;
  padding-left:0;
}

.sellingpoint {
  color: var(--color-brightyellow);
}

button {
  background-color: var(--color-brightyellow);
  color: white;
  padding: 1em;
  border: none;
  border-radius: 5px;
  width: 100%;
}
